<aside class="Hui-aside">

    <div class="menu_dropdown bk_2">
        <dl id="menu-news">
            <dt>
                客户端
                <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li>
                        <a href="{:url('menu/banner')}">轮播图</a>
                    </li>
                    <li>
                        <a href="{:url('menu/cate')}">首页导航</a>
                    </li>
                    <li>
                        <a href="{:url('menu/app')}">热点应用</a>
                    </li>
                    <li>
                        <a href="{:url('news/index')}">文章管理</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-user">
            <dt>
                管理端
                <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li>
                        <a href="{:url('user/index')}" title="用户列表">用户列表</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="dislpayArrow hidden-xs">
    <a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>